*.d
*.gcda
*.gcno
*.la
*.lo
*.o
*.orig
*.patch
!patches/linux/*.patch
!patches/linux-4.4/*.patch
!patches/linux-4.14/*.patch
*.rej
*.swp
*~
*.deb
*.tar.gz
*.cmd
*.mod.c
*.order
*.ko
.tmp_versions
.deps/
.dirstamp
.libs/
Module.symvers
modules.builtin
Makefile
Makefile.in
COPYING
INSTALL
aclocal.m4
ar-lib
autom4te.cache
compile
config.*
configure
depcomp
doxygen/output/
install-sh
libtool
ltmain.sh
m4
missing
stamp-h1
.gitreview
src/include/env/mv_autogen_*.h
cscope.out
tags
