*.d
*.gcda
*.gcno
*.la
*.lo
*.o
*.orig
*.patch
*.rej
*.swp
*~
*.deb
*.tar.gz
COPYING
INSTALL
Makefile
Makefile.in
aclocal.m4
ar-lib
autom4te.cache
compile
config.*
configure
depcomp
install-sh
libtool
ltmain.sh
m4
missing
stamp-h1
src/.libs
src/Makefile
src/Makefile.in
src/drivers/ppv2/.deps
src/drivers/ppv2/.dirstamp
src/lib/.deps
src/lib/.dirstamp
src/lib/of/.deps
src/lib/of/.dirstamp
src/lib/uio/.deps
src/lib/uio/.dirstamp
src/sys/.deps
src/sys/.dirstamp
apps/.libs
apps/Makefile
apps/Makefile.in
apps/examples/ppv2/pkt-echo/.deps
apps/examples/ppv2/pkt-echo/.dirstamp
apps/tests/.deps
apps/tests/.dirstamp
apps/musdk_dma_mem
apps/musdk_pkt_echo
